html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 20px / 1 sans-serif;

}

header#Hobbies {
  padding: 3em;
  text-align: center;
  border: 5px red;
  border-style: dashed solid 






}

p#blacksmith {
color: blue;


}

p {
  color: red;
  margin: 2em;
  Border: 5px solid gold;


}

h1 {
  color:blue;
  margin: 3em;
  Border: 3px solid orange;
  text-align: center;
}

h2 {
  color:green;
  margin: 0;
text-align: center;


}


p#more {
   color: aquamarine;
   background-color: black;
   border: solid purple 3px
}





img {
  display: block;
  margin: 0 auto;

}

footer {
  text-align: left;
  background-color: #10101099; 
  margin: 0;

}

.smith {

  border: solid yellow 30px;
}

.game {
  text-align: center;
  margin: 0;
  color: green;
  border-style: inset;
  border: 3px solid maroon;

}

p.game  {
    color: green;
}
img {
height: 300px;
width: 300px;
object-fit: contain;

}

ul,
ol {
  list-style: none;
  font-size: 20px;
}

.hobbies-list {
margin: 1em;
border: 3px solid yellow;


}














